.specials {
    grid-area: specials;
    height: 600px;
}

.specials-list {
    display: flex;
    justify-content: space-around;
    gap: 34px;
}

.specials-heading {
    display: flex;
    justify-content: space-between;
    margin: 70px 0 50px;
}