#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  display: grid;
  grid-template-rows: auto 400px 715px 590px auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
    "hero"
    "featured"
    "testimonials"
    "other"
    "footer";
  gap: 2rem;
}