#root {
  display: grid;
  grid-template-rows: auto 400px 715px 590px auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
    "hero"
    "specials"
    "testimonials"
    "other"
    "footer";
}